<!DOCTYPE html>
<html lang="en">

<body>
    <!-- Navigation-->
    <%-include ("./public/ejspub/header.ejs")%>
        <!-- Page Header-->
        <div class="container">
            <%listBuilding.forEach(item=>{%>
                <div class="row" style="margin-left: 7%;margin-right: 7%;">
                    <div class="col-md-6">
                        <table class="table" style="border-color: white;">
                            <tbody  style="text-align: center;">
                                <tr>
                                    <td >
                                        <image type="button" src="<%=item.imagelink%>" width="350" height="250"
                                            style="border-radius: 10%;"
                                            onclick="window.location.href='/building/customer?id=<%=item._id%>'">
                                        </image>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <%for(var i=1 ; i<=item.rank;i++){%>
                                            <i class="fas fa-star"></i>
                                            <%}%>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table" style="border-color: white;">
                            <tbody style="text-align: left;">
                                <tr>
                                    <td >
                                        <b type="button" style="font-size: 30px; color: deeppink;" onclick="window.location.href='/building/customer?id=<%=item._id%>'">
                                            <%=item.name%>
                                        </b>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b><%=item.rentarea%></b> - <%=item.address%>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <%=item.note%>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="color: darksalmon">
                                        Đăng bởi: <%=item.managername%>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <hr/>
                </div>
                <% })%>
                <div class="row">
                    <div class="col-md-12">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                  <span aria-hidden="true">&laquo;</span>
                                  <span class="sr-only">Previous</span>
                                </a>
                              </li>
                              <li class="page-item"><a class="page-link" href="#">1</a></li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                  <span aria-hidden="true">&raquo;</span>
                                  <span class="sr-only">Next</span>
                                </a>
                              </li>
                            </ul>
                          </nav>
                    </div>
                </div>
        </div>


        <%-include ("./public/ejspub/footer.ejs")%>


</body>

</html>