<!DOCTYPE html>
<html lang="en">
<body>
    <!-- Navigation-->
    <%-include ("./public/ejspub/header.ejs")%>
        <!-- Page Header-->
        <div class="container">
            <div class="row">
                <div class="col-md-3">

                </div>
                <div class="col-md-6">
                    <table class="table" style="border-color: white;">
                        <tbody style="text-align: center;">
                            <%listBuilding.forEach(item=>{%>
                                <tr>
                                    <td>
                                        <image type="button" src="<%=item.imagelink%>" width="400" height="300"
                                            style="border-radius: 10%;"
                                            onclick="window.location.href='/building/customer?id=<%=item._id%>'"></image>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b style="font-size: 30px;">
                                            <%=item.name%>
                                        </b>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <%for(var i = 1 ; i<=item.rank;i++){%>
                                            <i class="fas fa-star"></i>
                                        <%}%>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <%=item.note%>
                                            <hr />
                                    </td>
                                </tr>
                                <% })%>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-3">

                </div>
            </div>
        </div>


        <%-include ("./public/ejspub/footer.ejs")%>


</body>

</html>