<!DOCTYPE html>
<html lang="en">

<body>
    <!-- Navigation-->
    <%-include ("./public/ejspub/header.ejs")%>
        <!-- Page Header-->
        <div class="container">
            <%listBuilding.forEach(item=>{%>
                <div class="row" style="margin-left: 7%;margin-right: 7%;">
                    <div class="col-md-6">
                        <table class="table" style="border-color: white;">
                            <tbody style="text-align: center;">
                                <tr>
                                    <td>
                                        <image type="button" src="<%=item.imagelink%>" width="350" height="250"
                                            style="border-radius: 10%;"
                                            onclick="window.location.href='/building/customer?id=<%=item._id%>'">
                                        </image>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <%for(var i=1 ; i<=item.rank;i++){%>
                                            <i class="fas fa-star"></i>
                                            <%}%>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table" style="border-color: white;">
                            <tbody style="text-align: left;">
                                <tr>
                                    <td>
                                        <b type="button" style="font-size: 30px; color: deeppink;"
                                            onclick="window.location.href='/building/customer?id=<%=item._id%>'">
                                            <%=item.name%>
                                        </b>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>
                                            <%=item.rentarea%>
                                        </b> - <%=item.address%>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <%=item.note%>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="color: darksalmon">
                                        Đăng bởi: <%=item.managername%>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <hr />
                </div>
                <% })%>
                    <div class="row">
                        <div class="col-md-12" style="text-align: center;">
                            <div class="pagination" id="page" >
                                <%if(sum<=3){%>
                                    <%if(page==1){%>
                                        <a id="clp" type="button" onclick="window.location.href='?page=1'">1 </a>
                                        <a type="button" onclick="window.location.href='?page=2'">2 </a>
                                        <a type="button" onclick="window.location.href='?page=2'">3 </a>
                                    <%}%>
                                    <%if(page==2){%>
                                        <a type="button" onclick="window.location.href='?page=1'">1 </a>
                                        <a id="clp" type="button" onclick="window.location.href='?page=2'">2 </a>
                                        <a type="button" onclick="window.location.href='?page=1'">3 </a>
                                    <%}%>
                                    <%if(page==3){%>
                                        <a type="button" onclick="window.location.href='?page=1'">1 </a>
                                        <a type="button" onclick="window.location.href='?page=2'">2 </a>
                                        <a id="clp" type="button" onclick="window.location.href='?page=2'">3 </a>
                                    <%}%>
                                    
                                <%}else{%>
                                    <%if(page==sum){%>
                                        <a type="button" onclick="window.location.href='?page=1'">&laquo;</a>
                                        <a type="button" onclick="window.location.href='?page=<%= page-2 %>'"><%= page-2 %> </a>
                                        <a type="button" onclick="window.location.href='?page=<%= page-1 %>'"><%= page-1 %> </a>
                                        <a id="clp" type="button" onclick="window.location.href='?page=<%= page %>'"><%= page %> </a>
                                    <%}else{%>
                                        <%if(page==1){%>
                                            <a id="clp" type="button" onclick="window.location.href='?page=1'">1 </a>
                                            <a type="button" onclick="window.location.href='?page=2'">2</a>
                                            <a type="button" onclick="window.location.href='?page=3'">3 </a>
                                            <a type="button" onclick="window.location.href='?page=<%= sum %>'">&raquo;</a>
                                        <%}else{%>
                                                <%if(sum-page==1){%>
                                                    <a type="button" onclick="window.location.href='?page=1'">&laquo;</a>
                                                    <a type="button" onclick="window.location.href='?page=<%= page-1 %>'"><%= page-1 %> </a>
                                                    <a id="clp" type="button" onclick="window.location.href='?page=<%= page %>'"><%= page %> </a>
                                                    <a type="button" onclick="window.location.href='?page=<%= page+1 %>'"><%= page+1 %> </a>
                                                <%}else{%>
                                                        <a type="button" onclick="window.location.href='?page=1'">&laquo;</a>
                                                        <a type="button" onclick="window.location.href='?page=<%= page-1 %>'"><%= page-1 %> </a>
                                                        <a id="clp" type="button" onclick="window.location.href='?page=<%= page %>'"><%= page %> </a>
                                                        <a type="button" onclick="window.location.href='?page=<%= page+1 %>'"><%= page+1 %> </a>
                                                        <a type="button" onclick="window.location.href='?page=<%= sum %>'">&raquo;</a>
                                                <%}%>
                                               
                                        <%}%>
                                    <%}%>
                                <%}%>
                               
                            </div>
                        </div>
                    </div>
        </div>


        <%-include ("./public/ejspub/footer.ejs")%>


</body>
<style>
    .pagination {
        display: inline-block;
    }

    .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        font-size: px;
    }
    #clp{
        color: firebrick;
    }
</style>
<script>

</script>
</html>