<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Web Quản Lý Cho Thuê Nhà Đất</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
        rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>
    <%-include ("../public/ejspub/header.ejs")%>
    
    <div class="col-md-6 offset-md-3" style="background-color: #fff;margin-top: 25px;padding:20px;">
        <form id="formup">
            <div class="form-group">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Building Name</label>
                        <input type="text" class="form-control" name="name">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Rent Area</label>
                        <input type="text" class="form-control" name="rentarea" >
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <div class="form-group">
                            <label>District</label>
                            <select class="form-control" id="sel1" name="districtid">
                                <%data.district.forEach(item=>{%>
                                    <option value="<%=item._id%>">
                                        <%=item.name%>
                                    </option>
                                    <%})%>

                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Ward</label>
                        <input type="text" class="form-control" name="ward" >
                    </div>
                    <div class="form-group col-md-4">
                        <label>Street</label>
                        <input type="text" class="form-control" name="street" >
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Manager Phone</label>
                        <input type="text" class="form-control" name="managerphone"
                           >
                    </div>
                    <div class="form-group col-md-6">
                        <label>Manager Name</label>
                        <input type="text" class="form-control" name="managername"
                        >
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Rentprice</label>
                        <input type="text" class="form-control" name="rentprice" >
                    </div>
                    <div class="form-group col-md-6">
                        <label>Sellprice</label>
                        <input type="text" class="form-control" name="sellprice" >
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Image Link</label>
                        <input type="text" class="form-control" name="imagelink">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Note</label>
                        <input type="text" class="form-control" name="note">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <%data.renttype.forEach((item)=>{%>
                            <label class="checkbox-inline">
                                <input id="check" type="checkbox" name="rentypes" value="<%=item._id%>">
                                <%=item.name%>
                            </label>
                            <%})%>

                    </div>
                </div>
                <div class="form-group">
                    <button type="button" id="bntsup" class="btn btn-info"><i class="fa fa-database"></i>
                        Submit</button>
                    <a class="btn btn-secondary" onclick="window.location.href='/building'"><i class="fa fa-list-alt"></i> View All</a>
                </div>
        </form>
    </div>
    <footer class="border-top">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">
                            <a href="#!">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#!">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#!">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <div class="small text-center text-muted fst-italic">Copyright &copy; Your Website 2021</div>
                </div>
            </div>
        </div>
    </footer>
    <script>
        $(document).ready(function(){
            $("#bntsup").click(function(e){
                e.preventDefault();
                var data = $("#formup").serialize();
                $.ajax({
                    type: "post",
                    url: "/building/insert",
                    data: data,
                    dataType: "json",
                    success: function (response) {
                        window.location.href="/building"
                    }
                });
            })
        })
    </script>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="/js/scripts.js"></script>
</body>

</html>